{% if user.is_authenticated %}
    <h1>Hi, {{ user.member.nickname }}! You have {{ user.member.get_rewards.count }} active reward(s), and have accumulated $ {{ user.member.accumulated_spending }} toward the next reward.</h1>
    {% if user.member.get_rewards.count > 0 %}
        <h2>Your Active Reward(s):</h2>
        <ol>
            {% for reward in user.member.get_rewards %}
                <li>Expiration Date: {{ reward.expiration_date|date:"M d, Y" }}</li>
            {% endfor %}
        </ol>
    {% endif %}
    <h1><a href="{% url 'member:logout' %}">Log Out</a></h1>
{% else %}
    <h1><a href="{% url 'member:signup' %}">Sign Up</a></h1>
    <h1><a href="{% url 'member:login' %}">Log In</a></h1>
{% endif %}
<h1><a href="{% url 'games:genres' %}">Genres</a></h1>
{% if user.is_authenticated %}
	<h1><a href="{% url 'member:purchased' %}">Games purchased</a></h1>
{% endif %}
<h1>Featured Games</h1>
{% for game in featured_games %}
    <img src="{{ game.thumbnail.url }}" height="180" width="320">
    <h2><b>{{ game.get_genre_display }}</b> <a href="{% url 'games:game' game.id %}">{{ game.title }}</a></h2>
    <h3>{{ game.description }}</h3>
    <ul>
        {% for item in game.items.all %}
            <li>{{ item.get_platform_display }} - $ {{ item.price }}</li>
        {% endfor %}
    </ul>
<p>{{ story.tease|truncatewords:"100" }}</p>
{% endfor %}


{% if user.is_authenticated %}
    <h1>Recommendations</h1>
	<ul>
		{% for recommendation in recommendations %}
			<li> {{ recommendation.title }} </li>
		{% endfor %}
	</ul>
{% endif %}